
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
      background: linear-gradient(135deg, #000000, #243b55);
    color: rgb(196, 146, 146);
    text-align: center;
    min-height: 100vh;
    padding: 40px;
}

.title {
    font-size: 40px;
    margin-bottom: 30px;
    opacity: 0;
    transform: translateY(-20px);
}

.photo-container img {
    width: 150px;
    border-radius: 20px;
    margin-bottom: 40px;
    transition: 0.4s;
    opacity: 0;
}

.photo-container img:hover {
    transform: scale(1.08);
}

.social-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: white;
    text-decoration: none;
    transition: 0.4s;
    opacity: 0;
    transform: translateY(30px);
}

.circle:hover {
    transform: translateY(-10px) scale(1.1);
}

.instagram { background: #e1306c; }
.facebook { background: #1877f2; }
.phone { background: #25d366; }
.snapchat { background: #fffc00; color: #000000;}
.tiktok {background: #000000;color: white;}

.github-btn {
    padding: 18px 40px;
    background: black;
    border-radius: 50px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: 0.4s;
    opacity: 0;
}

.github-btn:hover {
    background: #00adb5;
    transform: scale(1.1);
}


@media (max-width: 600px) {
    .circle {
        width: 80px;
        height: 80px;
        font-size: 25px;
    }

    .title {
        font-size: 28px;
    }
}